@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.plane {
}

.containers {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background-color: #fff;
  /*background-image: url("../img/paral.jpg");*/
  background-size: cover;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.line {
  margin-left: 40px;
  padding-left: 10px;
  /*border-left: 2px solid !important;*/
  /*border-left-color: #282828 !important;*/
}


#contact h3 {
  font-family:'Helvetica', 'Arial-Bold', sans-serif;
  padding-top: 20px;
  color: #333 !important;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  padding-bottom: 20px;
}
#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

.headlines {
  text-align: center;
  color: #e41326;
  font-weight: bold;
  display: block;
  font-size: 18px;
  padding-bottom: 0px;
}
.contactdetails p{
  padding-top: 3px;
  text-align: center;
  color: #111 !important;
  font-weight: bolder;
  display: block;
  font-size: 13px;
  padding-bottom:  20px;

}
.contactdetails a{
  alignment-baseline: baseline;
  padding-top: 100px !important;
  color: #e41326;
  text-align: center;
  transition: all 0.3s ease-in-out !important;
  font-size: 35px;
  padding: 10px;
}
.contactdetails a:hover{
-webkit-transform: translateY(-25px) !important;
transform: translateY(-25px) !important;
opacity: 0.8 !important;
}

#contact h4 {
  font-weight: bolder;
  text-align: center;
  margin: 5px 0 15px;
  padding-bottom: 50px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #f9bcc2;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #e51427;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}


#contactus {
  background-image: url("../img/contactus.jpg");
  background-attachment: fixed;
}
#contact button[type="submit"]:hover {
  background: #d70d20;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  color: red;
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

@media screen and (max-width: 767px) {

    .line {
        border-left: 0px solid black !important;
        padding-left: 0;
        margin-left: 0;
        text-align: center;
    }

    .contactdetails p {
      text-align: center;
    }
    .contactdetails{
      align-content: center !important;
    }
}

